{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1>My Website</h1>
<h2>Hi, I am Mihaela</h2>
<h3>This suppose to be a description of myself. It's in progress. </h3>
<p>This website is the one of the first steps to achieve my dream, I love creating, and coding is one of the ways to achieve my dream.</p>

</body>
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>




{% endblock %}
